# 5.5 String Index

In [32]:
print (Budi[0:4])
#S adalah urutan ke 0
#I adalah urutan ke 14, bisa ditulis -1 ketika data dihitung dari belakang
#harus dilebih kan satu ketika ingin menghasilkan kata SAYA, jangan [0:3] tapi lebihkan 1 jadi [0:4]

SAYA

In [7]:
print(Budi[4:-1])
#urutan ke 4 adalah spasi
#urutan ke -1 adalah I, jadi I tidak ikut hanya sampai S

 MAKAN NAS

In [11]:
print(Budi[:1])

S

In [12]:
print(Budi[:])

SAYA MAKAN NASI

In [15]:
print(Budi[4:-1:2])
#4:-1:2, 2 adalah loncatan
#urutan ke empat adalah spasi
#urutan ke -1 dihitung dari belakang yaitu I tapi I tidak ikut, maka hanya sampai S, batasnya S
#perhatikan spasi
#setiap loncat 2 hasilnya menjadi ' AA A'

 AA A

# 5.6 string methods

In [17]:
judul = 'Bali Pulau Dewata'

In [19]:
print(len(judul))
#len adala untuk menghitung jumlah kata pada kalimat
#spasi juga dihitung sebagai urutan kata

17

In [20]:
judul.upper()
#upper untuk mengubah judul menjadi huruf kapital semua

'BALI PULAU DEWATA'

In [21]:
judul.lower()
#lowwer untuk mengubah tulisan judul menjadi huruf kecil semua

'bali pulau dewata'

In [23]:
judul.find('Dewata')
#find untuk mencari huruf pertama dari kata yang kita cari
#Dewata adalah ketiga, huruf pertama dari kata Dewata adalah D, D adalah urutan ke 11

11

In [25]:
judul.find('bali')
#menghasilkan -1 karena kata bali tidak ada dalam judul, yang ada adalah Bali dimana B adalah huruf besar

-1

In [27]:
judul.replace('Bali', 'Jawa')
#replace untuk mengganti kata judul dengan kata lain

'Jawa Pulau Dewata'

In [28]:
judul.replace('bali', 'Jawa')
#tidak bisa diganti karena kata bali tidak ada dalam judul

'Bali Pulau Dewata'

In [30]:
print('Dewata' in judul)
#untuk mengecek kebenaran ada atau tidak katanya di dalam judul

True

In [31]:
print('dewata' in judul)

False

# Operasi Matematika di Python

In [33]:
print(3+4)
print(3-4)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
x=4
x+=3
print(x)
x-=1
print(x)
x*=3
print(x)

7
-1
6
2.3333333333333335
2
1
7
6
18

# 5.8 Operator Perbandingan di Python

In [40]:
x = 8>2
print(x)
x = 8 >= 2
print (x)
x = 8 == 8
print(x)
x = 8 != 2
print(x)

#== adalah artinya dengan
#!= artinya tidak sama dengan

x = 2>8
#akan menghasilkan false

True
True
True
True

In [41]:
#coba buktikan
x>=4 <=4
print(x)

False

# 5.9 Operator Logika di Python

In [42]:
buah_apel = 5
buah_nanas = 10
print(buah_apel > 4 and buah_nanas < 15)

True

In [44]:
buah_apel = 5
buah_nanas = 10
print(buah_apel > 4 or buah_nanas < 15)

True

In [46]:
buah_apel = 5
buah_nanas = 10
print(not(buah_apel > 4 and buah_nanas < 15))

False

# 5.10 Operator if di Python

In [3]:
#if dijalankan bila nilai variabel yg dijalankan adalah True,sedangkan kalau nilainya adalah False maka tidak akan dijalankan

nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Sangat baik sekali!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan lagi!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Sudah cukup")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Tidak lulus")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Tidak Lulus")

Nilai anda adalah 80
Anda mendapatkan nilai A
Sangat baik sekali!