## While Loop

In [12]:
a = 0
while a < 5:
    print("Angka " + str(a)+" masih di bawah 5")
    a += 1

Angka 0 masih di bawah 5
Angka 1 masih di bawah 5
Angka 2 masih di bawah 5
Angka 3 masih di bawah 5
Angka 4 masih di bawah 5

In [9]:
a = 11
while a < 15 and a > 10:
    print("Angka " + str(a) + " diantara 10 dan 15")
    a += 1

Angka 11 diantara 10 dan 15
Angka 12 diantara 10 dan 15
Angka 13 diantara 10 dan 15
Angka 14 diantara 10 dan 15

In [7]:
a = 0
while a < 7:
    print(a* '*')
    a += 1

*
**
***
****
*****
******

In [4]:
a = 1
while a < 5:
    print(2*a* '*')
    a += 1

**
****
******
********

# List di Python

In [2]:
buah = ['mangga', 'pisang','rambutan', 'rambutan', 'durian']
print(buah)

['mangga', 'pisang', 'rambutan', 'rambutan', 'durian']

In [3]:
print(buah[0])

mangga

## Metoda List

In [5]:
nama = ['Made', 'Eka', 'Dwi']
nama.append('Sari')
print
print(nama)

['Made', 'Eka', 'Dwi', 'Sari']

In [6]:
nama.insert(0, 'Dewi')
print(nama)

['Dewi', 'Made', 'Eka', 'Dwi', 'Sari']

In [7]:
nama.remove('Eka')
print(nama)

['Dewi', 'Made', 'Dwi', 'Sari']

In [8]:
print('Dwi' in nama)

True

In [9]:
print('Eka' in nama)

False

In [10]:
print(len(nama))

4

In [3]:
bilangan_ganjil = ['1' , '3', '7', '9', '11']
bilangan_ganjil.insert(3, '13')
print(bilangan_ganjil)

['1', '3', '7', '13', '9', '11']

In [9]:
bilangan_ganjil.remove('11')
print(bilangan_ganjil)

['1', '3', '7', '9', '13']

In [2]:
bilangan_ganjil = ['1' , '3', '7', '9', '11']
bilangan_ganjil.append('5')
print(bilangan_ganjil)

['1', '3', '7', '9', '11', '5']

# for loop

In [1]:
buah = ['manggis', 'durian', 'salak', 'jeruk']
for jenis in buah:
    print(jenis)

manggis
durian
salak
jeruk

In [2]:
buah = ['manggis', 'durian', 'salak', 'jeruk']
i = 0
while i < len(buah):
    print(buah[i])
    i+=1

manggis
durian
salak
jeruk

In [2]:
bilangan_prima = ['3', '7', '11']
for ganjil in bilangan_prima:
    print(ganjil)

3
7
11

In [3]:
x = 0
while x < len(bilangan_prima):
    print(bilangan_prima[x])
    x+=1
#kalau terus mau restart harus restart dari pendeskripsian bilangan_prima yang paling awal (di atasnya)

3
7
11

# Fungsi Range

In [6]:
angka = range(5)
print(angka)

range(0, 5)

In [7]:
for isi in angka:
    print(isi)

0
1
2
3
4

In [5]:
for isi in range (5, 10):
    print(isi)

5
6
7
8
9

In [6]:
for isi in range (0, 10, 2):
    print(isi)

0
2
4
6
8

In [1]:
for isi in range (5, 13, 3):
    print(isi)

5
8
11

In [2]:
for isi in range(3,7):
    print(isi)

3
4
5
6

In [5]:
laptop = range(4)
print(laptop)

range(0, 4)

In [8]:
x = int(input('Masukkan Nilai x: '))
for i in range (0,x):
    for j in range (0, i):
        print(' ' , end='')
    for k in range (0,x):
        print('*' , end='')
    x-=1
    print('')
x = int(input('Masukkan Nilai x: '))
for i in range (0,x):
    for j in range (0, x+1):
        print(' ' , end='')
    for k in range (0, i+1):
        print('*' , end='')
    x-=1
    print('')

Masukkan Nilai x: 8
********
 *******
  ******
   *****
    ****
     ***
      **
       *
Masukkan Nilai x: 8
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********